{% extends 'back.html.twig' %}

{% block title %}New Aide{% endblock %}

{% block content %}
    <h1>Create new Aide</h1>

    {{ include('form/_form.html.twig') }}

    <a href="{{ path('form_index') }}">back to list</a>
{% endblock %}
