
{% extends 'base.html.twig' %}

{% block title %}Edit Aidecom {% endblock %}


{%  block content %}
    <h1>Edit Aidecom</h1>

    {{ include('aide_commaintre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('aide_commaintre_index') }}">back to list</a>

    {{ include('aide_commaintre/_delete_form.html.twig') }}
{% endblock %}

