{% extends 'front/block/layout.html.twig' %}

{% block page %}

    <div class="modal-body customer-box">
        <div class="tab-content">
            <div class="tab-pane active" id="Login">
                {{ include('front/apprenant/_form.html.twig') }}
            </div>

        </div>
    </div>
{% endblock %}

