{% extends 'base.html.twig' %}

{% block title %}New Categoriee{% endblock %}

{% block body %}
    <h1>Create new Categoriee</h1>

    {{ include('categoriee/_form.html.twig') }}

    <a href="{{ path('categoriee_index') }}">back to list</a>
{% endblock %}
