{% extends 'front/block/layout.html.twig' %}

{% block page %}
    <div class="modal-body customer-box">
        <div class="tab-content">
            <form style="padding-top: 50px;padding-bottom: 50px;" class="row text-center" method="post" methode="{{ path('updatepassword') }}">
                <div class="col-sm-12">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('errors') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="offset-3 col-sm-6">
                    <label>Mot de passe actuel<span style="color: #ed1a3b">*</span></label>
                </div>
                <div class="offset-3 col-sm-6">
                    <input type="password" id="acpassword" name="acpassword" class="form-control"
                           minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           title="Votre mot de passe doit comporter minimum 8  caractères et contenir une majuscule et un chiffre" required >
                </div>
                <div class="offset-3 col-sm-6">
                    <label>Nouveau mot de passe<span style="color: #ed1a3b">*</span></label>
                </div>
                <div class="offset-3 col-sm-6">
                    <input type="password" id="nvpassword" name="nvpassword" class="form-control"
                           minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           title="Votre mot de passe doit comporter minimum 8  caractères et contenir une majuscule et un chiffre" required>
                </div>
                <div class="offset-3 col-sm-6">
                    <label>Confirmer nouveau mot de passe<span style="color: #ed1a3b">*</span></label>
                </div>
                <div class="offset-3 col-sm-6">
                    <input type="password" id="repeatpassword" name="repeatpassword" class="form-control"
                           minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           title="Votre mot de passe doit comporter minimum 8  caractères et contenir une majuscule et un chiffre" required >
                </div>
                <div class="col-sm-12">
                    <br><br>
                    <button  class="btn btn-light btn-radius btn-brd grd1" >
                        Valider
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


